*.obj
*.o
*.d
*.a
*.lib
*.ppt
*.asv
*.tgz
*.log
*.Rd
*.Rbuildignore
*.RData
*.Rhistory
*.Rprofile
*.Rproj.user
*.Rproj
*.html
a.out
*~
#*#
.#*
.DS_Store
tests/*.txt
doc/
build*/
lib/
bin/
article/
/nogit/
.Rproj.user
